# Ativar o uso do arquivo .htaccess
RewriteEngine On

# Definir o diretório base
RewriteBase /arcadehub/

# Redirecionar para index.php se a URL não corresponder a um arquivo existente
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [L]

# Bloquear acesso a arquivos de configuração
<FilesMatch "\.(ini|env|log|json|md|yml|yaml|twig)$">
    Require all denied
</FilesMatch>